---
import Layout from "../layouts/Layout.astro";
import { Stoa } from "../components/Stoa";
---

<Layout title="stoa - your daily standup">
  <main class="font-mono">
    <h1 class="text-5xl text-slate-700 font-bold mt-2 mb-8">
      stoa - your daily standup
    </h1>
    <Stoa client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 120ch;
  }
</style>
